<ul class="navbar-nav text-uppercase ms-auto py-4 py-lg-0">
    <li class="nav-item">
        <%= link_to "About", about_charealti_index_path %>
    </li>
    <li class="nav-item">
        <%= link_to "Community", community_charealti_index_path %>
    </li>
    <li class="nav-item">
        <%= link_to "Services", services_charealti_index_path %>
    </li>
    <li class="nav-item">
        <%= link_to "Businesses", businesses_charealti_index_path %>
    </li>
    <li class="nav-item">
        <%= link_to "Contact Us", contactus_charealti_index_path %>
    </li>
    <span class="col_ggPrimary3Text box_leftPadded5 box_rightPadded6 layout_inlineBlock js-login" style="max-height: 40px; min-width: 80px;">   
        <%= link_to "Login", login_charealti_index_path %><br>
    </span>
</ul>
